<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDiGD-vYUaduIbZJI19cTBit9IPX0GCuEY</string>
	<key>GCM_SENDER_ID</key>
	<string>130152981226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.base.webview.dev</string>
	<key>PROJECT_ID</key>
	<string>init-webview-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>init-webview-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130152981226:ios:4936efd4ddeba013c1ed93</string>
</dict>
</plist>